body {
    background: #f8fcff;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px;
    font-weight: 400; - эти св-ва по умолч*/
    line-height: calc(20/16);
    /*чтобы посчитать соотношение нужного lh к шрифту// = 125%*/
    color: #25282b;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* =================== */

.header {
    line-height: calc(24/16);
}

.header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 108px;
    gap: 15px;
    align-items: center;
    align-content: center;
}

/* .header__inner>*:last-child {
    justify-content: end;
} */


.nav {}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.nav__link {}

.header__logo {
    max-width: 54px;
}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.header__socials {
    justify-content: end;
}

.socials__item {}

.socialc__link {}

/* =============================== */

.main {}

.hero {
    background: #565656;
    padding: 120px 0;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #f8fcff;
    margin-bottom: 30px;
}

.hero__list {
    margin-bottom: 40px;
}

.hero__list-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #f8fcff;
    margin-bottom: 15px;
}

.hero__list-item:last-child {
    margin-bottom: 0;
}

.hero__list-item img {
    margin-right: 18px;
    align-self: center;
}

.button {
    font-weight: 500;
    text-align: center;
    color: #1d6fb6;
    border-radius: 100px;
    padding: 18px 30px;
    width: 288px;
    height: 56px;
    background: #d0dce7;
}