body {
    background: #181e34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px;
    font-weight: 400; - эти св-ва по умолч*/
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================= */

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    padding: 14px 30px;
    background: #fff;
    color: #2766ae;
    font-weight: 500;
}

/* ========================= */

.hero {
    padding: 120px 0;
    background: url(../image/hero-bg.jpg) 10% 50% / cover no-repeat;
}

.hero-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    text-transform: uppercase;
    color: #01A2CB;
    font-weight: 700;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    line-height: 20px;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
}

.hero-button-two {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.margin-bottom {
    margin-bottom: 10px;
}