:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px;
    font-weight: 400; - эти св-ва по умолч*/
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%; /*чтобы у блока была высота*/
    width: 100%; /*чтобы контент не растягивал wrapper больше вьюпорта*/
    overflow: hidden; /*чтобы не было вертикального скролл бара*/ /*НО ОН ОСТАЕТСЯ*/
    display: flex;
    flex-direction: column; /*для размещения header main footer вертик*/
}

.main {
    flex-grow: 1; /*разрешаем расширяться на све свободное про-во, чтобы header и footer прибило*/
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 3px 15px; /*чисто чтобы не прилипла*/
    height: 62px; /*лучше так а не через padding, чтобы если что кнопка не разрослась*/
    background: var(--accent-color);
    font-weight: 500;
    font-size: 1.6;

    transition: all .4s;
}

.button:hover {
    background: #ff9138;
}

/* ====================================================================== */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat; /*нам важно видеть центр по х и низ по у*/
}

.header__top {
    padding-top: 19px;
}
.header__top-inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.header__logo {
    max-width: 174px;
}

.nav {
}
.nav__list {
    display: flex;
    gap: 40px;
}
.nav__items {
}
.nav__link {
    display: block; /*чтобы увеличить площать попадания*/
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.nav__link::before {
    content: ''; /*без этого псевдо элем не работают*/
    position: absolute;
    top: -8px; /*из-за padding ссылки*/
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.hero {
    padding: 50px 0 140px;
}
.hero__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.hero__content {
    max-width: 520px;
}
.hero__info {
    line-height: 1.6;
    text-transform: uppercase;
    color: #B197B3;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.hero__info span{
    display: flex;
    align-items: center;
}
.hero__info span::after {
    content: '';
    background: #B197B3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}
.hero__info span:last-child::after {
    content: none;
}
.hero__title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
    margin-bottom: 30px;
}
.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}
.hero__button {
    max-width: 360px;
}
.hero__img {
}
.hero__img-control {
}
.hero__img-button {
}